@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background: #eee;
}

section{
    padding: 50px;
}

h1{
    color: #343a40;
    margin-bottom: 15px;
}

.console{
    background: #212529;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
}

button{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #343a40;
    box-shadow: 0 5px #212529;
}

button:hover{
    box-shadow: 0 3px #212529;
    top: 1px;
}

button:active{
    box-shadow: 0 0 #212529;
    top: 5px;
}

main{
    min-height: calc(100vh - 70px);
}

footer{
    background: #212529;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}