@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Red Hat Display', sans-serif;
}

:root{
    --fundo: #0f0e17;
    --texto: #fffffe;
    --cor1: #ff8906;
    --cor2: #f25f4c;
    --cor3: #e53170;

    --transicao: 0.3s;
    --borda-radius: 5px;
}

/* Padrões */
html{
    scroll-behavior: smooth;
}

h1{
    margin-bottom: 1.5rem;
    color: var(--cor1);
}

section{
    width: 90%;
    max-width: 1336px;
    margin: 30px auto;
}

/* Padrão de formulário */
.formulario{
    width: 70%;
    margin: 0 auto;
}

.box-input{
    margin: 30px 0;
}

.box-botao{
    text-align: center;
}

label{
    display: block;
    margin-bottom: 5px;
}

input, select, textarea{
    width: 100%;
    height: 45px;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid var(--cor2);
    border-radius: var(--borda-radius);
    color: var(--texto);
    font-size: 1.1rem;
    transition-duration: var(--transicao);
}

textarea{
    height: 150px;
    padding: 15px;
}

input[type="file"]{
    height: fit-content;
    padding: 10px;
    display: flex;
    font-size: 1rem;
}

select option{
    background: var(--fundo);
}

input:focus, select:focus, textarea:focus{
    border-color: var(--cor3);
    transition-duration: var(--transicao);
}

button{
    width: 15rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: var(--borda-radius);
    color: var(--cor3);
    font-weight: bold;
    border: 2px solid var(--cor3);
    background: rgba(0, 0, 0, 0);
    transition-duration: var(--transicao);
}

button:hover, button:focus{
    color: var(--fundo);
    background: var(--cor3);
    transition-duration: var(--transicao);
}

button:active{
    position: relative;
    top: 1px;
}

#alerta{
    background: var(--cor2);
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: var(--borda-radius);
    display: none;
}

body{
    background: var(--fundo);
    color: var(--texto);
    font-size: 18px;
}

/* Header */

header{
    height: 100px;
    background: var(--cor2);
}

header nav img{
    height: 75px;
}

header nav{
    width: 95%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a{
    color: #eee;
    text-decoration: none;
    font-size: 1.2rem;
    transition-duration: var(--transicao);
}

header nav ul li.aqui a{
    color: white;
}

header nav ul li.aqui::after{
    content: '';
    display: block;
    height: 2px;
    background: var(--cor3);    
}

header nav ul li a:hover{
    color: white;
    font-size: 1.3rem;
    transition-duration: var(--transicao);
}

/* Main */

main{
    min-height: calc(100vh - 100px - 80px); /* - header - footer - margin da section */
    padding: 15px;
}

/* Footer */

footer{
    height: 80px;
    background: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p a{
    color: #eee;
    transition-duration: var(--transicao);
}

footer p a:hover{
    color: white;
    transition-duration: var(--transicao);
}

/* Página inicial */
section.home-meio .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.home-meio .container .texto, section.home-meio .container .imagem{
    width: 48%;
}

section.home-meio .container .texto p{
    text-align: justify;
    margin-bottom: 20px;
}

section.home-meio .container .imagem img{
    width: 100%;
}

section.vantagens .container-vantagens{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.vantagens .container-vantagens .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 230px;
}

section.vantagens .container-vantagens .box span{
    margin-top: 15px;
    text-align: center;
}

section.vantagens .container-vantagens .box img{
    width: 230px;
    aspect-ratio: 1 / 1;
}

section.creditos .container ul.redes{
    margin-left: 20px;
    list-style-type: square;
}

section.creditos .container ul.redes li{
    margin: 10px;
}

section.creditos .container ul.redes a{
    color: #eee;
    text-decoration: none;
    transition-duration: var(--transicao);
}

section.creditos .container ul.redes a:hover{
    color: var(--cor2);
    transition-duration: var(--transicao);
    text-decoration: none;
}

/* Jogos */
section.jogos .container{
    display: flex;
    justify-content: space-between;
}

section.jogos .container .categorias{
    width: 20%;
    min-width: 200px;
    height: fit-content;
    padding: 15px;
    background: #2c2c2c;
    border-radius: var(--borda-radius);
}

section.jogos .container .categorias h3{
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

section.jogos .container .categorias ul{
    list-style: none;
}

section.jogos .container .categorias ul li{
    cursor: pointer;
    margin: 15px 0;
}

section.jogos .container .categorias ul li:hover{
    color: var(--cor3);
}

section.jogos .container .jogos-container{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.jogos .container .jogos-container .jogo{
    color: white;
    text-decoration: none;
    width: 20%;
    aspect-ratio: 5 / 6;
    min-width: 250px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #2c2c2c;
    border-radius: var(--borda-radius);
    transition-duration: var(--transicao);
}

section.jogos .container .jogos-container .jogo:hover{
    transform: translateY(-10px);
    transition-duration: var(--transicao);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

section.jogos .container .jogos-container .jogo h3{
    margin: 7px 15px;
    text-transform: capitalize;
}

.categorias-jogo{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.box-categoria{
    background: red;
    width: fit-content;
    padding: 3px 10px;
    margin: 5px 5px;
    border-radius: var(--borda-radius);
}

section.jogos .container .jogos-container .jogo img{
    border-radius: var(--borda-radius) var(--borda-radius) 0 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/* Entrar */

section.entrar .sem-conta{
    color: white;
    width: fit-content;
    font-size: 1rem;
    display: block;
    margin: 1rem auto;
    transition-duration: var(--transicao);
    text-decoration: none;
}

section.entrar .sem-conta span:hover{
    color: var(--cor1);
    transition-duration: var(--transicao);
}

section.entrar .sem-conta span{
    text-decoration: underline;
}

/* Perfil */
section.perfil .container{
    display: flex;
    justify-content: space-between;
}

section.perfil .conteudo{
    width: 80%;
    padding: 0 50px;
}

section.perfil .container .menu-lateral{
    width: 20%;
    min-width: 250px;
    height: fit-content;
    padding: 15px;
    background: #2c2c2c;
    border-radius: var(--borda-radius);
    position: sticky;
    top: 40px;
    margin-top: 40px;
}

section.perfil .container .menu-lateral h3{
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

section.perfil .container .menu-lateral ul{
    list-style: none;
}

section.perfil .container .menu-lateral ul li{
    margin: 20px 0;
}

section.perfil .container .menu-lateral ul li.sair{
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 15px;
    margin-bottom: 0;
}

section.perfil .container .menu-lateral ul li a{
    color: white;
    text-decoration: none;
    transition-duration: var(--transicao);
}

section.perfil .container .menu-lateral ul li a:hover{
    color: var(--cor3);
    transition-duration: var(--transicao);
}

section.perfil .formulario{
    width: 100%;
}

section.perfil .conteudo .parte-conteudo{
    padding: 30px;
    min-height: 100vh;
}

/* Dados do jogo / Página do jogo */
section.jogo .container-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.jogo p{
    text-align: justify;
}

section.jogo .container-header .box-esquerda{
    width: 30%;
    min-width: 250px;
    aspect-ratio: 4 / 5;
}

section.jogo .container-header .box-esquerda img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

section.jogo .container-header .box-direita{
    width: 65%;
    min-width: 650px;
}

section.jogo .container-header .box-direita h1{
    font-size: 2.4rem;
}

section.jogo .container-header .box-direita .qtdAvaliacoes{
    background: var(--cor2);
    padding: 15px;
    border-radius: var(--borda-radius);
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
}

section.jogo .container-header .box-direita hr{
    border-color: rgba(255, 255, 255, 0.4);
    margin: 15px 0;
}

section.jogo .container-avaliacoes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.jogo .container-avaliacoes .box-avaliacao{
    text-align: center;
    padding: 0 5px;
}

section.jogo .container-avaliacoes .box-avaliacao .nota{
    width: 100px;
    margin: 15px 0;
    padding-top: 11px;
    padding-bottom: 5px;
    border-radius: var(--borda-radius) var(--borda-radius) 0 0;
    background: #2c2c2c;
    border-bottom: 3px solid rgba(242, 95, 76, 0.4);
}

section.jogo .container-avaliacoes .box-avaliacao .nota::after{
    content: '';
    width: 45%;
    display: block;
    position: relative;
    bottom: -8px;
    height: 3px;
    background: var(--cor3);
}

section.jogo .container-main{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

section.jogo .container-main .box-esquerda{
    width: 70%;
}

section.jogo .container-main .box-esquerda .avaliacao{
    margin: 30px 0;
    background: #2c2c2c;
    border-radius: var(--borda-radius);
    padding: 15px 30px;
}

section.jogo .container-main .box-esquerda .avaliacao .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

section.jogo .container-main .box-esquerda .avaliacao .header span{
    color: #919191;
    font-size: 1rem;
    word-spacing: 5px;
}

section.jogo .container-main .box-direita{
    width: 25%;
    height: fit-content;
    background: #2c2c2c;
    border-radius: var(--borda-radius);
    padding: 15px 30px;
    margin-top: 65px;
}

section.jogo .container-main .box-direita .info-jogo{
    margin: 25px 0;
}

section.jogo .container-main .box-direita .info-jogo .categorias-jogo{
    padding: 0;
}

section.jogo .container-main .box-direita .info-jogo h3{
    margin: 5px 0;
}

section.jogo .container-main .box-direita .info-jogo button{
    width: 100%;
}

#modalAvaliar{
    display: none;
    width: 80%;
    height: 70vh;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    overflow-y: auto;
    background: #2c2c2c;
    border-radius: var(--borda-radius);
}

#modalAvaliar .inputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#modalAvaliar .inputs .box-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modalAvaliar .inputs .box-input input{
    width: 7rem;
}

#fundoModal{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}